<h1>Create new chirp</h1>

<%= form_for @chirp do |f|%>
    <br>

    <label>Tag</label>
    <br>
    <%=f.collection_select(:tag_id, Tag.all, :id, :name)%>
    <br>
    <br>

    <label>Chirp Content</label>
    <br>
    <%=f.text_field :content%>
    <br>
    <br>

    <label>About</label>
    <br>
    <%=f.text_field :sub_tag%>
    <p><em>The person this chirp is about. This will be only viewable by people who guess it correctly</em></p>
    <br>
  
    <%=f.check_box :private %><label>Private?</label>
    <p><em>Will users be able to guess who the chirp is about?</em></p>
    <br><br>

    <input type="submit"  value="Create SubChirp">
<%end%>