<!DOCTYPE html>
<html>
  <head>
    <title>Subchirp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body style="margin: 0;">
    <div id="top-bar" style="width: 100%; background-color: black; color: white; height: 50px; margin: 0; padding: 20px 50px;">
      <%if session[:id] && logged_user = User.find(session[:id])%>
        <p>Viewing as <a href="<%=user_path(logged_user)%>">@<%=logged_user.username%></a></p>
      <%else%>
        <p><a href="/">Login</a></p>
      <%end%>
    </div>
    <h1>SubChirp</h1>
    <%= yield %>
  </body>
</html>
